<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976940171527-oo2e94bk0cdgh45ocoine6lh0dpej24j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976940171527-oo2e94bk0cdgh45ocoine6lh0dpej24j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>976940171527-kut82e3s6dc2cef82d3nj70dn9f9b0pj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>YourAPIkey</string>
	<key>GCM_SENDER_ID</key>
	<string>976940171527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.thedisciple</string>
	<key>PROJECT_ID</key>
	<string>the-disciple-75324</string>
	<key>STORAGE_BUCKET</key>
	<string>the-disciple-75324.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976940171527:ios:6454ad910ddba6f77705a2</string>
</dict>
</plist>
